html {
  font-size: 12px; 
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --primary-blue: #0056fd;
    --sidebar-bg: #f8f9fa;
    --main-bg: #f4f7fe;
    --white: #ffffff;
    --text-dark: #2b3674;
    --text-grey: #a3aed0;
}

body {
    margin: 0;
    background-color: var(--main-bg);
    color: var(--text-dark);
}

.app-container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 260px;
    background: var(--white);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f0f0f0;
}

.brand h2 {
    font-size: 1.2rem;
    margin-bottom: 40px;
    text-align: center;
    color: var(--text-dark);
}

.user-profile-sm {
    display: flex;
    align-items: center;
    background: #fdfdfd;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.02);
}

.user-profile-sm img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .name {
    display: block;
    font-weight: 700;
    font-size: 0.85rem;
}

.user-info .grade {
    font-size: 0.7rem;
    color: var(--text-grey);
}

.side-nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:#8e94a3;
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 5px;
    border-radius: 10px;
}

.side-nav a i { margin-right: 10px; }

.side-nav a.active {
    background: #f4f7fe;
    color: var(--primary-blue);
}

.btn-support {
    margin-top: auto;
    background: var(--primary-blue);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}


.main-content {
    flex: 1;
    padding: 20px 40px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 30px 0;
}

.logo-text {
    font-weight: 800;
    font-size: 1.1rem;
    background: #f4f7fe;
    padding: 5px 15px;
    border: 0px ;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: rgba(71, 85, 105, 1);
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    color:  rgba(71, 85, 105, 1);
}
.nav-icons img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-circle {
    width: 35px;
    height: 35px;
    background: #111;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}


.gpa-card {
    background: linear-gradient(90deg, #0046e5 0%, #0062ff 100%);
    border-radius: 30px;
    padding: 40px;
    color: white;
    margin-bottom: 40px;
}

.gpa-label { opacity: 0.8; margin: 0; }
.gpa-value { font-size: 4.5rem; margin: 10px 0; font-weight: 800; }
.gpa-value span { font-size: 1.5rem; opacity: 0.6; }

.badges .badge {
    background: rgba(255,255,255,0.2);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 10px;
}


.performance-section {
    background: white;
    border-radius: 30px;
    padding: 30px;
}

.perf-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.perf-header h3 { margin: 0; font-size: 1.4rem; }
.sub-text { color: var(--text-grey); font-size: 0.85rem; margin-top: 5px; }

.btn-action {
    background: #f4f7fe;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
    margin-left: 10px;
}


.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.data-table th {
    text-align: left;
    color: var(--text-grey);
    font-size: 0.75rem;
    padding: 10px 20px;
}

.data-table tbody tr {
    background: #fcfdfe;
}

.data-table td {
    padding: 15px 20px;
    font-size: 0.9rem;
    border-top: 1px solid #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
}

.data-table td:first-child { border-radius: 15px 0 0 15px; border-left: 1px solid #f8f9fa; }
.data-table td:last-child { border-radius: 0 15px 15px 0; border-right: 1px solid #f8f9fa; }

.data-table strong { display: block; color: var(--text-dark); }
.data-table small { color: var(--text-grey); }

.blue-text { color: var(--primary-blue); font-weight: 700; }
.red-text { color: #ee5d50; font-weight: 700; }

.tag {
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 0.7rem;
    font-weight: 800;
}

.tag-blue { background: #eef4ff; color: #4489fe; }
.tag-grey { background: #f4f7fe; color: #8f9bba; }
.tag-purple { background: #f2eeff; color: #7e57ff; }
.tag-red { background: #fff5f5; color: #ee5d50; }